<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RSA环签名</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/common.css">
</head>
<body>
<form class="layui-form" action="" lay-filter="formTest">
    <div class="layui-form-item">
        <label class="layui-form-label">输入框</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文本域</label>
        <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">关联性</label>
        <div class="layui-input-block">
            <input type="checkbox" name="akrflag" lay-skin="switch" lay-text="ON|OFF" checked lay-filter="akrflag">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择加入的环</label>
        <div class="layui-input-block">
            <input type="checkbox" name="like[u0]" title="编号00" checked>
            <input type="checkbox" name="like[u1]" title="编号01" checked>
            <input type="checkbox" name="like[u2]" title="编号02" checked>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        </div>
    </div>
</form>

<script src="../static/layui/layui.js" charset="utf-8"></script>
<script>
    //Demo
    layui.use(['element', "layer", "jquery", "form"], function () {
        var element = layui.element;
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.jquery;
        var path = "http://127.0.0.1:5000";

        console.log("t0")
        //监听提交
        form.on('submit(formDemo)', function (data) {
            //layer.msg(JSON.stringify(data.field));
            var url = path + '/test.do';
            var indexload;

            console.log(data.elem)
            console.log(data.form)
            console.log(data.field)


            return false;
        });

        //给表单赋值
        form.val("formTest", {
            "desc": "贤心"
        });


    });
</script>
</body>
</html>
